html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     border: 0px none;
     font: inherit;
	 font-size: 1.2em/1.6em;
     margin: 0px;
     padding: 0px;
     vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

html, body {
     background: none repeat scroll 0% 0% #f8f8f8;
     font-family: Helvetica,sans-serif;
     height: 100%;
     width: 100%;
}

#header {
     background-color: #000;
     position: fixed;
     top: 0px;
     width: 100%;
  	 opacity: 0.4;
    	filter: alpha(opacity=40); /* For IE8 and earlier */
}

#header_content {
     background-repeat: no-repeat;
     font-family: "Times New Roman";
  	 font-style: italic;
     margin: 0px auto;
     width: 60%;
}

#header a {
     color: white;
     text-decoration: none;
}

#header a:visited {
     color: white;
}

#content {
     margin: 0px auto;
  	 margin-top: 60px;
     width: 60%;
}

#content a {
     color: #717571;
     text-decoration: none;
}

#content a:hover {
     color: #383b38;
     text-decoration: none;
}

#item {
     font-size: 1.8em;
     margin: 20px 0px 10px;
     padding: 10px 0px 40px;
}

#title {
     margin: 2px;
}

#image_div img {
     margin-bottom: 10px;
     margin-top: 5px;
}

#user_text {
     font-size: 0.6em;
}

#user_text a {
     color: #7bbde0;
}

#one_content {
     margin: 0px auto;
	 margin-top: 60px;
     text-align: center;
     width: 100%;
}

#one_content a {
     color: #717571;
     text-decoration: none;
}

#one_content a:hover {
     color: #383b38;
     text-decoration: none;
}

#one_item {
     font-size: 2.4em;
     margin: 20px 0px 10px;
     padding: 10px 0px 40px;
}

#one_title {
     margin: 2px;
}

#one_image_div img {
     margin-bottom: 10px;
     margin-top: 5px;
}

#one_user_text {
     font-size: 0.6em;
}

#one_user_text a {
     color: #7bbde0;
}

#loader_message button {
     width: 300px;
}
